body {
    background: white no-repeat;
/ / url("img/bar_background.jpg") no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

body > .ingredient-list, .ingredient-list {
    width: auto;
    background: rgba(17, 17, 17, 0.2);
    margin: 0 5px;
    padding: 5px 20px;
}

.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.navbar-header {
    font-family: 'Rametto One', cursive;
    font-weight: bolder;
}
