#Gitignore files exluding all unnecessary files

#vscode files
.vscode/

#.idea files
.idea/

#migrations
cocktails/migrations/

#virtual python environment
venv/


#media
media/

#compiled python files
*.pyc

#database
*.sqlite3
