.cocktails-list {
  display: inline-flex;
  justify-content: flex-start;
  align-content: stretch;
  flex-wrap: wrap;
  margin-top: 10px;
  overflow-y: auto;
  height: 90%;
  width: 100%;
  padding: 5px 0;
  .entry {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    background: rgba(255, 255, 255, 0.8);
    transition-property: top;
    transition-duration: 2s;
    transition-timing-function: ease;
    @media (min-width: 760px) {
      max-width: 50%;
    }
    @media (min-width: 1200px) {
      max-width: 20%;
    }
    &:hover {
      position: relative;
      background: rgba(255, 255, 255, 1);
      box-shadow: grey 0 0 10px;
      top: -5px;
    }
    .img-wrapper {
      display: flex;
      justify-content: center;
      min-height: 80%;
      img {
        object-fit: contain;
        max-width: 100%;
      }
    }
    .description {
      max-height: 20%;
      .name {
        text-align: center;
      }
    }
  }
}
