<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | TastyNDrunk </title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Rammetto+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'cocktails/styles/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'cocktails/styles/nav-style.css' %}"/>
    {% block head %}{% endblock %}
</head>
<body>

<nav class="navbar">
    <div class="nav-part left">
        <div id="icon" class="nav-item"><a href="{% url "cocktails:index" %}">TastyCocktails</a></div>
        <div id="TOP5" class="nav-item"><a href="{% url "cocktails:top-five" %}">TOP 5</a></div>
        <div id="" class="nav-item"><a href="{% url "cocktails:a-to-z" %}">A-Z</a></div>
    </div>


    <div class=" nav-part right">
        <form method="get" action="{% url "cocktails:search-result" %}"><!-- TODO add search icon-->

            {% csrf_token %}
            <input id="Search" formnovalidate required type="text" placeholder="Search..." name="q">
            <button type="submit">Search</button>
        </form>
        {% if not user.is_authenticated %}
            <div class="nav-item login">
                <a href="{% url "cocktails:login" %}">Log in/ Register</a>
            </div>

        {% else %}
            <div class="nav-item">
                <a href="{% url "cocktails:shopping-list" %}">Shopping List </a>
            </div>
            <div class="nav-item "><a href="{% url "cocktails:profile" user.id %}">{{ user }}</a></div>
            <div class="nav-item logout">
                <a href="{% url "cocktails:logout" %}">Logout</a>
            </div>
        {% endif %}
    </div>
</nav>

<div class="content-wrapper">
    <div class="content">{% block body %}{% endblock %}
        <div class="add">
            <a class="plus" href="{% url "cocktails:cocktail-add" %}"
               title="Log in to add cocktail!">
                +</a></div>
    </div>
</div>

</body>
</html>
