<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>{% block title %}{% endblock %} | TastyNDrunk </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Rammetto+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'cocktails/styles/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'cocktails/styles/nav-style.css' %}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="icon" href="{% static "cocktails/img/glass.png" %}" type="image/png">
    {% block head %}{% endblock %}
</head>

<body>
<nav class="navbar">
    <div href="{% url "cocktails:index" %}" id="" class="nav-part">
        <img class="icon" src="{% static "cocktails/img/glass.png" %}">
        <div id="" class="nav-item home"><a href="{% url "cocktails:index" %}">TastyCocktails</a></div>
    </div>
    <div class="nav-part">
        <div id="TOP5" class="nav-item top5"><a href="{% url "cocktails:top-five" %}">TOP 5</a></div>
        <div id="" class="nav-item a-to-z"><a href="{% url "cocktails:a-to-z" %}">A-Z</a></div>
        <form class="nav-item search" method="get" action="{% url "cocktails:search-result" %}">
            <!-- TODO add search icon-->
            {% csrf_token %}
            <input id="search" formnovalidate required type="text" placeholder="Search..." name="q">
            <!-- <button type="submit">Search</button>-->
            <i class="fas fa-search"></i>
        </form>
        {% if not user.is_authenticated %}
            <div class="nav-item nav-user">
                <a href="{% url "cocktails:user" %}">Log in/ Register</a>
            </div>
        {% else %}
            <div class="nav-item nav-dropdown">
                <div class="nav-dropdown-wrapper">
                    <div class="nav-dropdown-btn">
                        <a href="{% url "cocktails:profile" user.id %}">{{ user }}</a>
                    </div>
                    <div class="nav-dropdown">
                        <div class="nav-dropdown-item">
                            <a href="{% url "cocktails:shopping-list" %}">Shopping List </a>
                        </div>
                        <div class="nav-dropdown-item ">
                            <a href="{% url "cocktails:logout" %}">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</nav>
<div class="content-wrapper">
    <div class="content">
        {% block body %}{% endblock %}
        <div class="add">
            <a class="plus" href="{% url "cocktails:cocktail-add" %}"
               title="Log in to add cocktail!">
                +</a></div>
    </div>
</div>

</body>
</html>
