{% extends "cocktails/base.html" %} {% block title %}New Cocktail {% endblock %} {%block head%} {% load static%}
<script src="{% static 'cocktails/scripts/form.js'%}"></script>
<link href="{% static 'cocktails/styles/create-form.css'%}" rel="stylesheet"> {%endblock%} {% block body %}
<div class="wrapper">
    <form class="entry" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="img-wrapper">
            <img src="" id="pic" alt="Put your pretty litle picture here!"> {{ form.picture }}
        </div>
        <div class="error">
            {{ form.picture.errors }}
        </div>
        <div class="description">
            <div class="name">{{form.name}}</div>
            <h3>Add your ingredients here!</h3>
            <button type="button" id="add-ingredient-btn" class="add-btn btn" onclick="newIngredient()">+
            </button>
            <div class="ingredient-list">
            </div>
            <input type="hidden" name="ingredient_counter" id="ingredient_counter">
            <button type="submit" class="submit btn">Drink!</button>
        </div>
        <div class="error">
            {{ form.name.errors }}
        </div>
    </form>
</div>

{% endblock %}