<!DOCTYPE html>
<html lang="en">

{% extends "cocktails/base.html" %}
{% block title %}{{ cocktail.name }}{% endblock %}

{% block body %}
    <h1>{{ cocktail }} </h1>
    <h2>by {{ cocktail.creator }}</h2>
    {% if user == cocktail.creator or user.is_superuser %}
        <span><a href="{% url "cocktails:cocktail-update" cocktail.id %}">edit</a></span>
        <span><a href="{% url "cocktails:cocktail-delete" cocktail.id %}">delete</a></span>
    {% endif %}
    <img alt="A picture of {{ cocktail.name }} " height="200px"
         src="{{ cocktail.picture.url }}">

    {% if error_message %}
        <h1>{{ error_message }}</h1>
    {% endif %}

    <ul class="ingredient-list">
        {% for i in ingredients %}
            <li>
                {{ i.name }}: {{ i.quantity }}
                {% if i.is_alcohol %}
                    <span>(alc.)</span>
                {% endif %}
            </li>
            <br>
        {% endfor %}
    </ul>
{% endblock %}

</html>
