<!DOCTYPE html>
<html lang="en">

{% extends "cocktails/base.html" %}
{% block title %}{{ cocktail.name }}{% endblock %}
{% block head %}
    {% load  static %}
    <script src="{% static 'cocktails/scripts/detail.js' %}"></script>
    <link rel="stylesheet" href="{% static "cocktails/styles/detail.css" %}" type="text/css">
{% endblock %}
{% block body %}
    <div class="title-wrapper">
        <div class="wrapper">
            <h1 class="heading">{{ cocktail }} </h1>
            <form class="vote-form {% if votable or not user.is_authenticated %} in{% endif %}active" method="post"
                    {% if not user.is_authenticated %} title="you must be logged in to vote"{% endif %}
                  action="{% url "cocktails:vote" cocktail.id %}">
                {% csrf_token %}
                <div class="vote-buttons">
                    <div class="arrow arrow-up {% if votable != "up" %}not-{% endif %}{% if votable %}voted{% endif %}"></div>
                    <div class="rating">{{ cocktail.taste_rating }}</div>
                    <div class="arrow arrow-down {% if votable != "down" %}not-{% endif %}{% if votable %}voted{% endif %}"></div>
                    <input hidden id="vote" class="vote" name="vote" type="text" value="">
                </div>
            </form>
        </div>
        <h2 class="heading">by
            {% if user %}
                <a href="{% url "cocktails:profile" cocktail.creator.id %}">{{ cocktail.creator }}</a>
            {% else %}<i>Unknown</i>
            {% endif %}
        </h2>
    </div>
    {% if user == cocktail.creator or user.is_superuser %}
        <span><a href="{% url "cocktails:cocktail-update" cocktail.id %}">edit</a></span>
        <span><a href="{% url "cocktails:cocktail-delete" cocktail.id %}">delete</a></span>
    {% endif %}
    {% include "cocktails/cocktail.html" %}
    {{ ingredients }}

{% endblock %}
</html>
