<!DOCTYPE html>
<html lang="en">

{% extends "cocktails/base.html" %}
{% block title %}{{ cocktail.name }}{% endblock %}

{% block body %}
    <img alt="A picture of {{ cocktail.name }} " height="100px"
         src="http://hd.wallpaperswide.com/thumbs/cocktails-t2.jpg">
    <h1>{{ cocktail }}</h1>
    <h2>Rated {{ cocktail.rating }}</h2>

    {% if error_message %}
        <h1>{{ error_message }}</h1>
    {% endif %}

    <form action="{% url 'cocktails:favorite'  cocktail.id %}" title="tick to make the ingreddient (un)alcoholic"
          method="POST">
        {% csrf_token %}
        {% for i in ingredients %}
            <input type="checkbox" id="ingredient{{ forloop.counter }}" name="ingredient" value="{{ i.id }}">
            <label for="ingredient{{ forloop.counter }}">{{ i.name }}</label>
            {% if i.is_alcohol %}
                <span>(alc.)</span>
            {% endif %}
            <br>
        {% endfor %}
        <button type="submit" value="alc">Drink!</button>
    </form>
{% endblock %}

</html>
