{% extends "cocktails/base.html" %}
{% block title %}Register
{% endblock %}

{% block body %}
    <h1>Register, bitch!</h1>
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include "cocktails/form-template.html" %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Drink!</button>
            </div>
        </div>
    </form>
{% endblock %}
