{% extends "cocktails/base.html" %}
{% block head %}
    {% load static %}
    <script src="{% static "cocktails/scripts/top5.js" %}"></script>
    <link href="{% static "cocktails/top5.css" %} " rel="stylesheet" type="text/css">
{% endblock %}
{% block title %}TOP5{% endblock %}
{% block body %}
    <h1>Here you will see da top 5 cocktails!</h1>
    <div class="sort-options">
        <form method="get" class="option-form">
            <div class="option {% if request.GET.sort_by == "drunk" %} selected {% endif %}">Drunk</div>
            <div class="option {% if request.GET.sort_by == "taste" or not request.GET.sort_by %} selected {% endif %}">
                Taste
            </div>
            <input hidden id="hidden-option" name="sort_by" value="{{ request.GET.sort_by }}">
        </form>
    </div>
    {% if cocktails %}
        <ol class="cocktails-list">
            {% for c in cocktails %}
                <li>
                    <div>
                        <a href="{% url "cocktails:detail" c.id %}"> {{ c.name }}</a>
                    </div>
                    <div>Drunk: {{ c.drunk_rating }}</div>
                    <div>Taste: {{ c.taste_rating }}</div>
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <div>no top5 at da moment!</div>
    {% endif %}
{% endblock %}
