{% extends "cocktails/base.html" %}
{% block head %}
    {% load static %}
    <script src="{% static "cocktails/scripts/top5.js" %}"></script>
    <link href="{% static "cocktails/styles/top5.css" %} " rel="stylesheet" type="text/css">
{% endblock %}
{% block title %}TOP5{% endblock %}
{% block body %}
    <div class="wrapper">
        <div class="sort-options">
            <form method="get" class="option-form">
                <div class="option {% if request.GET.sort_by == "drunk" %} selected {% endif %}">
                    <span class="option-text">Drunk</span> 
                </div>
                <div class="option {% if request.GET.sort_by == "taste" %} selected {% endif %}">
                    <span class="option-text">Taste</span> 
                </div>
                <div class="option {% if request.GET.sort_by == "fresh" or not request.GET.sort_by %} selected {% endif %}">
                    <span class="option-text">Fresh</span> 
                </div>
                <input hidden id="hidden-option" name="sort_by" value="{{ request.GET.sort_by }}">
            </form>
        </div>
        {% if cocktails %}
            <div class="cocktails-list">
                {% for c in cocktails %}
                    <div class="entry">
                        <div class="img-wrapper">
                                <img class="img" src="/media/{{ c.picture }}">
                        </div>
                       
                        <div class="description">
                            <h3 class="name"><a href="{% url "cocktails:detail" c.id %}"> {{ c.name }}</a></h3> 
                            <div>Drunk: {% widthratio c.drunk_rating 1 100 %}%</div>
                            <div>Taste: {{ c.taste_rating }}</div>        
                        </div>
                        </div>
                {% endfor %}
            </div>
        {% else %}
            <div>no top5 at da moment!</div>
        {% endif %}
    </div>    
{% endblock %}
